html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}
img{
    margin:0 auto;
    width: 150px;
}
input{
    color: #432000;
    background-color: #DCE1EB;
    font-family: 'Rubik', sans-serif;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    font-family: 'Rubik', sans-serif;
    border: 0;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}